    h1 {
    font-size: 3em;
    color: red;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
    background-color: black;
    border: 1px solid black
  }

    a:hover {
    text-decoration: none;    
  }
    a:visited {
        color: blue;
    }
 
    body {
        background-color: pink;
    }
      
    @media (min-width: 30em) {
        body {
          background-color: rgb(116, 113, 113);
        }
    }